.wraper {
  grid-area: header;
  background: #000000;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  display: flex;
}

.header {
  display: flex;
  width: 960px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header img {
  height: 50px;
}

.loginBlock {
  color: #fff;
}

.loginBlock a {
  color: #fff;
}

.button {
  background: #ffa31a;
  align-self: center;
  box-sizing: border-box;
  height: 26px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  color: #000000;
}
