/* .navbar {
  background-color: #6d6e71;
} */

.items {
  margin: 0 auto;
  padding: 10px 15px;
}

.item {
  list-style-type: none;
  padding-top: 15px;
}

.item a {
  text-decoration: none;
  color: #ffffff;
}

a.active {
  border-bottom: 2px solid #ffa31a;
}
