.app-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  /* row-gap: 10px;
  column-gap: 20px; */
  grid-template-areas:
    "header"
    "content";
  background-color: #1b1b1b;
  font-size: 18px;
  color: #fff;
  height: 100%;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 2fr 10fr;
  width: 960px;
  margin: 0 auto;
}

.content-wrapper {
  background-color: #fff;
}
